.container {
  height: 100vh;
}

.board  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.line {
  display: flex;
}

.tile {
  height: 60px;
  width: 60px;
  border: 1px solid grey;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  color: white;
  font-size: 32px;
}

.grey  {
  background-color: none;
}

.darkGrey {
  background-color: lightgray;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}